@import "../../../scss/lib/theme/vars";

.thumbnail {
  margin-top: $gutter-std;
  width: 30%;
  display: inline-block;


  img {
    width: 40%;
    margin-bottom: $gutter-sm;
  }

  span {
    display: block;
    float: right;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
}
