
<section class="home">
  <h2>Welcome Home.</h2>
  <input type="text" class="form-control" ng-model="homeCtrl.gallerySearchName" placeholder="Search">
  <create-gallery></create-gallery>
  <div>
    <ul>
        <gallery-up ng-repeat="item in homeCtrl.galleries | gallerySearch: homeCtrl.gallerySearchName | orderBy: 'name' | limitTo: 10 | date : medium" gallery="item" pic="item" ng-click="homeCtrl.currentGallery = item">
        </gallery-up>
    </ul>
  </div>

<thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container>


</section>
